* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  max-width: 240px;
  margin: 200px auto;
}

.form {
}

.form .input {
  display: block;
  width: 100%;
  border-radius: 0;
  font-size: 28px;
  outline: none;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

.form .btn-join {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #5cc547;
  color: #ffffff;
}
